.dc-chart .selected path{stroke-width:1;stroke:#ccc;fill-opacity:1;}
.dc-chart .selected path{stroke-width:1;stroke:#ccc;fill-opacity:1;}
.logo{height:50px;padding:5px;margin:5px;}
.socialmedia{position:absolute;top:5px;right:60px;z-index:99999999;}
.socialmedia img{padding:2px;}
.socialmedia img:hover{opacity:0.7;}
.d3-tip{line-height:1;font-weight:bold;padding:12px;background:rgba(0, 0, 0, 0.8);color:#fff;border-radius:8px;}
.d3-tip:after{box-sizing:border-box;display:inline;font-size:10px;width:100%;line-height:1;color:rgba(0, 0, 0, 0.8);content:"\25BC";position:absolute;text-align:center;}
.d3-tip.n:after{margin:-1px 0 0 0;top:100%;left:0;}
.dc-chart g.row text{fill:#523530;font-size:12px;cursor:pointer;}
#logo{display:block;position:relative;top:13px;background:url("../images/coordination.png");width:48px;height:48px}